.CreatePage {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;

  > .input {
    flex: 1;
    padding-top: 120px;
    text-align: center;
    width: 330px;

    > .tiles {
      height: 58.5px;
      padding-top: 20px;
    }
  }
}
