.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;

  > .header {
    align-items: center;
    border-bottom: 1px solid var(--secondary-colour);
    display: flex;
    height: 51px;
    justify-content: space-between;
    padding: 3px 0;
    width: 100%;

    > .spacer {
      width: 36px;
    }

    > .title {
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 0.2rem;
      text-align: center;

      @media only screen and (max-width: 360px) {
        font-size: 22px;
        letter-spacing: 0.1rem;
      }
    }

    > button {
      background: transparent;
      border: 0;
      cursor: pointer;
      padding: 0;
      width: 36px;
    }
  }
}
