.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;

  > .header {
    border-bottom: 1px solid #3a3a3c;
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    width: 100%;

    > .spacer {
      width: 36px;
    }

    > .title {
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 0.2rem;
      text-align: center;
    }

    > button {
      background: transparent;
      border: 0;
      cursor: pointer;
      padding: 0;
      width: 36px;
    }
  }

  > .subtitle {
    padding-top: 5px;
  }
}
