html {
  height: 100%;
}

body {
  background: #121213;
  color: #d7dadc;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}
